*{
  font-family: Metal;  
}
[class = "imagenqs"] {
    border: 1px solid rgb(221,221,221);
    padding:2%;
    border-radius: 5%;
}
p{
  text-align: justify;
}

header{
  text-align: center;
  color: white;
  font-size: 1.2em;
  background-color: rgb(35,90,125);
}
 
.nav{
 
  padding:0.5em;
  background-color: rgb(143,204,230);
  margin-bottom: 1%;
}

.nav-item{
  border-left: 0.001em solid rgb(0,0,0);
  font-size: 1.2em;
}

ul li:hover a{
  background-color: rgb(25,70,90);
  opacity: 0.9;
  color: rgb(0,0,0);
}

h3, div#geo{
  text-align: center;
}

div#geomapa {
   text-align: center;
    padding: 1%;
}

a#tiempo{
  color: rgb(0,0,255);
}

/* visited link */
a:visited {
  color: rgb(255,255,255);
  font-weight: bold;
}

/* selected link */
a:active {
  font-weight: bold;
}

section h4, h5{
  font-family: 'Roboto', sans-serif;
}
/*section{
  border: 1px solid black;

}*/

[class ^= "col"]{
  
  margin: 1%;
}

.media{
  display: inline-block;
}

div#contacto{
  margin-top: 10%;
}

div#contact{
  margin-top: 10%;
  margin-bottom: 15%;
}

div#misi{
  margin-bottom: 5%;
}

h3#mision{
  margin-bottom: 10%;
}

aside{ 
  /*border: 1px solid black;*/
  text-align: center;
}

video{
  margin: auto;
  width: 90%;
  height: 50%;
}
.thumbnail{
  background: linear-gradient(rgb(255,255,255), powderblue, rgb(255,255,255));
  text-align: center;
  padding-top: 1%;

}

div.thumbnail img{
  margin: auto;
  display: block;
  border: groove;
  height: 9em;
  width: 14em;
}

.imagenqs{
  margin: auto;
  display: block;
  
  height: 9em;
  width: 10em;
}

footer{
  margin-top: 1%;
  border: 0.001em solid rgb(0,0,0);
  font-size: 0.9em;
  text-align: justify-all;
}

img#footer{
  height: 4em;
  width: 4em;
  margin: auto;
  display: block;
}

@media screen and (max-width: 420px){        
  *{
    width: 100%;
  }

  .nav-item{
    font-size: 1.5em;
    text-align: center;
    line-height: 0.9em;   
  }
    
  header h1 {
    font-size: 3em;  
    font-weight: normal
  } 

}


#timeline {
    columns: 40em;
    padding: 0 0 0 0.33em;
    font-size: medium;
    margin: 2.4em 0;
}



#timeline time::after {
    content: " —";
    color: orange;
}

#timeline li {
    display: block;
    padding-left: 0.33em;
    margin-left: 11em;
    border-left: solid orange;
    text-align: left;
}

#timeline time {
    display: inline-block;
    width: 13em;
    margin-left: -13.4em;
    font-weight: bold;
    text-align: right;
    font-size: 90%;
}