*{
  font-family: Metal;  
}

header{
  text-align: center;
  color: white;
  font-size: 1.2em;
  background-color: rgb(35,90,125);
}
 
.nav{
 
  padding:0.5em;
  background-color: rgb(143,204,230);
  margin-bottom: 1%;
}

.nav-item{
  border-left: 0.001em solid black;
  font-size: 1.2em;
}

ul li:hover a{
  background-color: rgb(25,70,90);
  opacity: 0.9;
  color: rgb(0,0,0);
}

h3{
  text-align: center;
}

/* visited link */
a:visited {
  color: rgb(255,255,255);
  font-weight: bold;
}

/* selected link */
a:active {
  font-weight: bold;
}


/*section{
  border: 1px solid black;  
}*/

/*[class ^= "col"]{
  border: 1px solid black;
}*/

aside{ 
  /*border: 1px solid black;*/
  text-align: center;
}

video{
  margin: auto;
  width: 90%;
  height: 50%;
}
.thumbnail{
  background: linear-gradient(white, powderblue, white);
  text-align: center;
  padding-top: 1%;

}

div.thumbnail img{
  margin: auto;
  display: block;
  border: groove;
  height: 9em;
  width: 14em;
}

.imagenqs{
  margin: auto;
  display: block;
  
  height: 9em;
  width: 10em;
}

footer{
  margin-top: 1%;
  border: 0.001em solid black;
  font-size: 0.9em;
  text-align: justify-all;
}

img#footer{
  height: 4em;
  width: 4em;
  margin: auto;
  display: block;
}

@media screen and (max-width: 420px){        
  *{
    width: 100%;
  }

  .nav-item{
    font-size: 1.5em;
    text-align: center;
    line-height: 0.9em;   
  }
    
  header h1 {
    font-size: 3em;  
    font-weight: normal
  } 

}